{% extends "./base.html" %} 
{% load static %}

{% block title %} 
{{project_name}}: Todoist
{% endblock %} 

{% block content %} 
    <h1 class="title">
      <span class="name">{{project_name}}</span>
    </h1>
    {% for task in tasks %}
    {% include './includes/todoTask.html' %}
    {% endfor %}
    <form autocomplete="off" id="{{date}}" class="new-task-form closed" action="{% url 'project-detail' project_name|lower %}" method="POST">
      {% csrf_token %}
      {% include './includes/taskAdditionForm.html' %}
    </form>
{% endblock %} 

