{% extends "./base.html" %} 
{% load static %}

{% block title %} 
Today: Todoist
{% endblock %} 



{% block content %} 
<div class="inner-content">
    <h1 class="title">
        <span class="today">Today</span> <span class="date">{{ date }}</span>
    </h1>
    {% for task in tasks%}
    {% include './includes/todoTask.html' %}
    {% endfor %}
    <form class="new-task-form" action="{% url 'today-tasks' %}" method="POST">
        {% csrf_token %}
        <div class="inputs-wrapper">
          <div class="task-input-wrapper">{{form.task}}</div>
          <div class="desc-input-wrapper">{{form.description}}</div>
          <div class="add-input-wrapper">
            {{form.time}}
            {{form.project}}
            {{form.label}}
            {{form.priority}}
            {{form.reminder}}
          </div>
        </div>
        <!-- {% for field in form %}
          {{ field }}
        {% endfor %} -->
        <button type="submit">Add task</button>
      </form>
</div>
{% endblock %} 

