{% extends "./base.html" %} 
{% load static %}

{% block title %} 
Today: Todoist
{% endblock %} 

{% block content %} 
    <h1 class="title">
      <span class="name">Today</span> <span class="date">{{ date }}</span>
    </h1>
    {% for task in all_tasks.today %}
    {% include './includes/todoTask.html' %}
    {% endfor %}
    <form class="new-task-form closed" action="{% url 'today-tasks' %}" method="POST">
      {% csrf_token %}
      {% include './includes/taskAdditionForm.html' %}
    </form>
{% endblock %} 

