{% extends "./base.html" %} 
{% load static %}

{% block title %} 
Today: Todoist
{% endblock %} 


{% block content %} 
<div class="inner-content">
    <h1 class="title">
        <span class="today">Today</span> <span class="date">{{ date }}</span>
    </h1>
    {% for task in tasks%}
    {% include './includes/todoTask.html' %}
    {% endfor %}
    <form action="{% url 'today-tasks' %}" method="POST">
        {% csrf_token %}
        {% for field in form %}
          <div class="form-control {% if field.errors %}errors{% endif %}">
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
          </div>
        {% endfor %}
        <button type="submit">Send</button>
      </form>
</div>
{% endblock %} 

