* {
	user-select: none; /* supported by Chrome and Opera */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
}

.app {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.main {
	background-color: rgb(125, 174, 218);
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin-top: 44px;
}

#content {
	transition: margin-left 0.5s;
	padding: 20px;
}
