{% load static %}

<div id="sidebar" class="sidebar">
    <ul class="nav-items" id="navigation-items">
        <li class="nav-item">
            <a class="nav-item-link" href="{% url 'inbox-tasks' %}">
                <div class="nav-item-icon inbox">
                    <img src="{% static 'todoList/icons/inbox-icon.svg' %}" alt="upcoming-icon">
                </div>
                <div class="nav-item-text">Inbox</div>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-item-link" href="{% url 'today-tasks' %}">
                <div class="nav-item-icon today">
                    <img src="{% static 'todoList/icons/today-icon.svg' %}" alt="upcoming-icon">
                </div>
                <div class="nav-item-text">Today</div>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-item-link" href="{% url 'upcoming-tasks' %}">
                <div class="nav-item-icon upcoming">
                    <img src="{% static 'todoList/icons/upcoming-icon.svg' %}" alt="upcoming-icon">
                </div>
                <div class="nav-item-text">Upcoming</div>
            </a>
        </li>
    </ul>
</div>