{% load static %}
{% load todoList_filters %}

<div id="sidebar" class="sidebar">
    {{inbox_id|trim}}
    <ul class="nav-items" id="navigation-items">
        <li class="nav-item">
            <a class="nav-item-link" href="{% url 'project-detail' 1 %}">
                <div class="nav-item-icon inbox">
                    <img src="{% static 'todoList/icons/inbox-icon.svg' %}" alt="upcoming-icon">
                </div>
                <div class="nav-item-text">Inbox</div>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-item-link" href="{% url 'today-tasks' %}">
                <div class="nav-item-icon today">
                    <!-- <img src="{% static 'todoList/icons/today-icon.svg' %}" alt="upcoming-icon"> -->
                    <svg width="24" height="24" viewBox="0 0 24 24">
                        <g fill="currentColor" fill-rule="evenodd">
                            <path fill-rule="nonzero" d="M6 4.5h12A1.5 1.5 0 0 1 19.5 6v2.5h-15V6A1.5 1.5 0 0 1 6 4.5z" opacity=".1"></path>
                            <path fill-rule="nonzero" d="M6 4h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1H6zm1 3h10a.5.5 0 1 1 0 1H7a.5.5 0 0 1 0-1z"></path>
                            <text font-family="-apple-system, system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'" font-size="9" transform="translate(4 2)" font-weight="500">
                                <tspan x="8" y="15" text-anchor="middle">22</tspan>
                            </text>
                        </g>
                    </svg>
                </div>
                <div class="nav-item-text">Today</div>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-item-link" href="{% url 'upcoming-tasks' %}">
                <div class="nav-item-icon upcoming">
                    <img src="{% static 'todoList/icons/upcoming-icon.svg' %}" alt="upcoming-icon">
                </div>
                <div class="nav-item-text">Upcoming</div>
            </a>
        </li>
    </ul>
</div>
