{% extends "../Base.html" %} 
{% load static %}

{% block title %} 
Inbox: Todoist
{% endblock %} 

{% block content %} 
    <h1 class="title">
      <span class="name">Inbox</span>
    </h1>
    {% for task in tasks %}
    {% include './components/TaskDetails.html' %}
    {% endfor %}
    <form autocomplete="off" class="new-task-form closed" action="{% url 'project-detail' inbox_id %}" method="POST">
      {% csrf_token %}
      {% include '../components/TaskAdditionForm.html' %}
    </form>
{% endblock %} 

