{% extends "../Base.html" %} 
{% load static %}

{% block title %} 
Todoist: {{type}} edit
{% endblock %} 

{% block content %} 
    <h1 class="title">
      <span class="name">{{type}} edit</span>
    </h1>
    <form autocomplete="off" class="new-task-form" action="{% url 'item-edit' type|lower form.name.value  %}" method="POST">
      {% csrf_token %}
      {{form.as_table}}
      <div class="btns">
        <button type="submit" class="btn submit">Edit {{ type|lower }}</button>
      </div>
    </form>
{% endblock %} 

 