{% extends "../Base.html" %} 
{% load static %}

{% block title %} 
{{label_name|capfirst}}: Todoist
{% endblock %} 

{% block content %} 
  <h1 class="title">
    <span class="name" style="margin-right:auto;">{{label_name|capfirst}}</span>
    <button class="btn feature-toggle-btn">
      ...
      <div class="additional-features-wrapper d-flex flex-column align-items-center justify-content-center">
        <a href="{% url 'item-edit' 'label' label_name %}" class="btn mb-2">Edit</a>
        <a href="{% url 'item-delete' 'label' label_name %}" class="btn">Delete</a>
      </div>
    </button>
  </h1>
  {% for task in tasks %}
  {% include '../components/TaskDetails.html' %}
  {% endfor %}
{% endblock %} 
