.header {
	width: 100%;
	height: 44px;
	background-color: #292929;
	box-shadow: 0 1px 3px 0 #000;
	display: flex;
	flex-direction: row;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
}
.header .btns-wrapper {
	width: fit-content;
	height: 100%;
	margin-left: 40px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.header .btns-wrapper .btn-wrapper {
	color: rgba(255, 255, 255, 0.87);
	background-color: transparent;
	border: none;
}
.header .btns-wrapper .btn-wrapper.home {
	margin-left: 4px;
	margin-right: 6px;
}
.header .btns-wrapper .input-wrapper {
	width: 450px;
	height: 30px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: rgba(255, 255, 255, 0.87);
	position: relative;
}
.header .btns-wrapper .input-wrapper .form-control {
	background-color: #363636;
	border-color: #363636;
	padding-left: 34px;
	width: 198px;
	height: 30px;
	color: rgba(255, 255, 255, 0.87);
	transition: width 0.1s ease;
	position: absolute;
	top: 0;
	left: 0;
}
.header .btns-wrapper .input-wrapper .form-control:focus {
	outline: none;
	border-color: #363636;
	box-shadow: none;
	width: 450px;
}
.header .btns-wrapper .input-wrapper .form-control::placeholder {
	color: rgba(255, 255, 255, 0.87);
}
.header .btns-wrapper .icon-wrapper {
	padding: 0 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 28px;
	height: 100%;
}
.header .btns-wrapper .icon-wrapper svg {
	width: 24px;
	height: 24px;
}
.header .btns-wrapper .icon-wrapper.search-icon-wrapper {
	z-index: 10;
	position: absolute;
	top: 50%;
	left: 2px;
	transform: translateY(-50%);
}
.header .btns-wrapper .icon-wrapper.help-icon-wrapper {
	position: absolute;
	top: 50%;
	right: 38px;
	transform: translateY(-50%);
	z-index: 10;
}
.header .btns-wrapper .icon-wrapper.close-icon-wrapper {
	position: absolute;
	top: 50%;
	right: 5px;
	transform: translateY(-50%);
	z-index: 10;
}
.header .btns-wrapper .icon-wrapper.search-icon-wrapper .search-icon, .header .btns-wrapper .icon-wrapper.help-icon-wrapper .search-icon, .header .btns-wrapper .icon-wrapper.close-icon-wrapper .search-icon {
	width: 24px;
	height: 24px;
}
.form-control:not(:focus) ~ .help-icon-wrapper, .form-control:not(:focus) ~ .close-icon-wrapper {
	display: none;
}

