.header {
	width: 100%;
	height: 44px;
	background-color: hsl(0, 0%, 16%);
	box-shadow: 0 1px 3px 0 rgb(0 0 0 / 15%);
	display: flex;
	flex-direction: row;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
}

.btn-wrapper {
	height: 100%;
	width: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: hsla(0, 0%, 100%, 0.87);
}

.btn-wrapper svg {
	width: 24px;
	height: 24px;
}

.menu {
	margin-left: 40px;
}

.home {
	margin-left: 4px;
}
