.task {
	width: 100%;
	min-height: 80px;
	height: fit-content;
	padding: 8px 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.task:hover .task-wrapper .task-actions-wrapper {
	opacity: 1;
}

.task .task-wrapper {
	height: fit-content;
}

.task .task-wrapper, .task .project-wrapper {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	width: 100%;
	height: fit-content;
}
.task .project-wrapper {
	margin-left: auto;
	width: fit-content;
}
.task .project-wrapper .project {
	width: fit-content;
	color: #ffffff99;
	font-size: 12px;
	text-decoration: none;
	transition: color 0.15s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.task .project-wrapper .project:hover {
	color: #fff;
}
.task .project-wrapper .project.inbox {
	position: relative;
	margin-right: 20px;
}
.task .project-wrapper .project.inbox:after {
	position: absolute;
	top: 50%;
	right: -14px;
	transform: translateY(-50%);
	content: "";
	background-image: url("../../icons/inbox-icon.svg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	width: 12px;
	height: 12px;
}
.task .task-wrapper .task-deletion-form .task-checkbox {
	outline: none !important;
	width: 24px;
	height: 24px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: flex;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	color: rgba(255, 255, 255, 0.87);
	margin: 8px 6px 0 -3px;
	z-index: 1;
	background-color: transparent !important;
	text-shadow: none;
	border: 1px solid transparent;
}
.task .task-wrapper .task-deletion-form .task-checkbox:hover .circle svg {
	opacity: 1;
}
.task .task-wrapper .task-deletion-form .task-checkbox.priority_1 .circle {
	background-color: rgba(255, 112, 102, 0.1);
	border-color: #ff7066;
	color: #ff7066;
}
.task .task-wrapper .task-deletion-form .task-checkbox.priority_2 .circle {
	background-color: rgba(255, 154, 20, 0.1);
	border-color: #ff9a14;
	color: #ff9a14;
}
.task .task-wrapper .task-deletion-form .task-checkbox.priority_3 .circle {
	background-color: rgba(82, 151, 255, 0.1);
	border-color: #5297ff;
	color: #5297ff;
}
.task .task-wrapper .task-deletion-form .task-checkbox.priority_4 .circle {
	background-color: transparent;
	border-color: grey;
	color: grey;
}
.task .task-wrapper .task-deletion-form .task-checkbox .circle {
	display: flex;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	border: 2px solid #dcdcdc;
	border-radius: 50%;
	height: 18px;
	width: 18px;
}
.task .task-wrapper .task-deletion-form .task-checkbox .circle svg {
	display: inline-block;
	border: 1px solid transparent;
	height: 18px;
	width: 18px;
	margin-left: -8px;
	transition: opacity 0.15s cubic-bezier(0.4, 0, 1, 1);
	margin-top: -8px;
	pointer-events: none;
	opacity: 0;
}
.task .task-wrapper .task-info-wrapper {
	width: fit-content;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-content: space-between;
	margin-right: auto;
}
.task .task-wrapper .task-info-wrapper .task-name {
	width: fit-content;
	font-size: 14px;
	color: #fff de;
}
.task .task-wrapper .task-info-wrapper .task-desc {
	font-size: 12px;
	color: #808080;
}
.task .task-wrapper .task-info-wrapper .task-time {
	font-size: 12px;
}
.task .task-wrapper .task-actions-wrapper {
	height: 100%;
	width: fit-content;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: opacity 0.15s cubic-bezier(0.4, 0, 1, 1);
}
/* .task .task-wrapper .task-actions-wrapper .task {
	height: 100%;
	width: fit-content;
} */

.task .task-wrapper .task-actions-wrapper .feature-toggle-btn {
	position: relative;
	padding: 5px 10px !important;
}

.task .task-wrapper .task-actions-wrapper .feature-toggle-btn:hover {
	background-color: #292929;
}

.task .task-wrapper .task-actions-wrapper .feature-toggle-btn .additional-features-wrapper {
	position: absolute;
	top: 100%;
	right: 100%;
	width: 100px;
	height: fit-content;
	border: 1px solid rgba(255, 255, 255, 0.1);
	background-color: #292929;
	padding: 10px;
	border-radius: 10px;
	z-index: 10;
	opacity: 0;
	transition: opacity .15s ease-out;
}

.task .task-wrapper .task-actions-wrapper .feature-toggle-btn .additional-features-wrapper.visible {
	opacity: 1;
}

.task .task-wrapper .task-actions-wrapper .feature-toggle-btn .additional-features-wrapper .btn {
	padding: 5px 10px !important;
	width: 100%;
}

.task .task-wrapper .task-actions-wrapper .feature-toggle-btn .additional-features-wrapper .btn:hover {
	background-color:#1f1f1f;
}